.landing {
   background-image: url('../assets/images/dev.jpg');
   background-size: cover;
   flex: 1;
   height: calc(100vh - 60px);

   &-overlay {
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      padding-top: 30vh;
      height: calc(100% - 30vh);
   }

   &-title {
      font-family: 'DMMono-Medium';
      font-size: 55px;
      color: #fff;
      text-align: center;
   }

   &-description {
      font-family: 'DMMono-Regular';
      font-size: 20px;
      color: #fff;
      margin: 20px 0;
   }

   &-buttons {
      display: flex;
      justify-content: center;

      a {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 140px;
         height: 50px;
         text-decoration: none;
         margin-right: 10px;
         font-family: 'DMMono-Light';
         transition: all ease-in 0.3s;
      }
      &_login {
         color: #0b4291;
         background-color: #fff;
      }
      &_signup {
         color: #fff;
         background-color: #0b4291;
         &:hover {
            background-color: #004ebb;
         }
      }
   }
}
